@import "../../Styles/common";


@mixin breadcrumb{
    font-weight: 500;
    color: $color-inputl;
    }

#breadcrumSpecific + #breadcrumSpecific::before{
    content: ">";
    font-size: 1em;
    @include breadcrumb;  
    }

#itemBreadcrum{
    font-size: $fuente-breadcrumbs;
    padding: 1em 0em 1em;
    background-color: transparent;
    @include breadcrumb;
}

.active{
    @include breadcrumb;
}

