@import "../../Styles/common";


@mixin productSpecific{
    padding-bottom:$espacio-breadcrumbs*2;
    }

#jumbotron{
    background-color: #ffffff;
    padding: 1em;
    margin-bottom: 0;
}

#img-fluidd{
    border: none;
    border-radius: 0.25em;
}

.imagenOfficialSize{
    width: $tamanio-imagen;
}

.productTitleSpecific{
    @include productSpecific;
    color:$color-texto;
    font-size: $fuente-descripcion-producto;
}

.descriptionArea{
    padding:$espacio-breadcrumbs*2;
}

#productDescription{
    @include productSpecific;
    color: $color-inputl;
    font-weight: 400;
}

#buttonProperties{
    background-color: $color-boton;
    color:$color-letra-boton;
}

#informationProduct{
    padding: 0 $espacio-breadcrumbs*2 $espacio-breadcrumbs*2 $espacio-padding*2;
}

.quantityProduct{
    padding:$espacio-breadcrumbs*2 0 $espacio-breadcrumbs 0;
    font-size:$fuente-breadcrumbs;
    font-weight: 500;
}

.nameProductSpecific{
    padding-bottom:$espacio-breadcrumbs;
    font-weight: 500;
    font-size: $fuente-precio;
}

.priceProduct{
    padding-bottom:$espacio-breadcrumbs;
    font-size: $fuente-precio-especifico;
}

.imageReference{
    padding-top:$espacio-breadcrumbs*2;
}
