@import "./Styles/common";

.background-template {
  background-color: $color-fondo;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4em;
}

