@import "../../Styles/common";

.jumbotron{
    background-color: #ffffff!important;
    padding: 1em!important;
    margin-bottom: 0;
}

.img-fluidd{
    border: none !important;
    border-radius: 0.25em!important;
    max-width: 100%;
    height: 11.25em !important;
}

.price{
    font-size: $fuente-precio;
    font-weight:500;
    color:$color-texto;
}

.productName{
    margin-top: $espacio-breadcrumbs + $espacio-breadcrumbs;
    font-size: $fuente-lista-producto; 
    color:$color-texto;
}

.cityName{
    font-size: $fuente-ubicacion; 
    color:$color-inputl;
    font-weight: 500;
}

