@import "../../Styles/common";

@mixin resultListItems{
    color:$color-texto;
    }

#jumbotron{
    background-color: #ffffff;
    padding: 1em;
    margin-bottom: 0;
}

#img-fluid{
    border: none;
    border-radius: 0.25em;
    max-width: 100%;
    height: 11.25em;
}

.price{
    font-size: $fuente-precio;
    @include resultListItems;
    font-weight:500;
}

.productName{
    @include resultListItems;
    margin-top: $espacio-breadcrumbs*2;
    font-size: $fuente-lista-producto; 
}

.cityName{
    font-size: $fuente-ubicacion; 
    color:$color-inputl;
    font-weight: 500;
}

