/* Paleta de colores generales */

$color-base: #FFE600;
$color-fondo: #EEEEEE;
$color-inputl:#999999;
$color-texto: #333333;
$color-boton:#3483FA;
$color-resaltado:#666666;
$color-letra-boton:#ffffff;

/* Tipografia */

$fuente: 'Proxima Nova','Helvetica Neue', Helvetica,
  Arial, sans-serif;

  /* Tamaño Fuentes y espacios */
$tamanio-imagen:42.5em;  
$fuente-precio:1.5em;
$fuente-lista-producto:1.125em;
$espacio-breadcrumbs:0.5em;
$espacio-padding:1em;
$fuente-breadcrumbs:0.875em;
$fuente-ubicacion:0.75em;
$fuente-precio-especifico:2.875em;
$fuente-descripcion-producto:1.75em;

