/* Paleta de colores generales */

$color-base: #FFE600;
$color-fondo: #EEEEEE;
$color-inputl:#999999;
$color-texto: #333333;
$color-boton:#3483FA;
$color-resaltado:#666666;

/* Tipografia */
$fuente: 'Proxima Nova','Helvetica Neue', Helvetica,
  Arial, sans-serif;

